html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #222;
}

canvas {
  background: #333;
  border: 4px solid #444;
  image-rendering: pixelated;
}